<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEPAGE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="lead">Welcome To K Dominant Colour Extractor !</h1> 
            <p>Upload an Image and select a value for k dominant colours you want the image to be segmented with.</p>
            <form action="/submit" method="POST" enctype="multipart/form-data">
                <input type="text"  name="KValue" placeholder="Enter value of K">
                <br>
                <br>
                <input type="file"   name="image" class="form-control-file" placeholder="Upload Image">
                <br>
                <br>
                <input type="submit" class="btn btn-primary btn-lg">
            </form>
        </div>
    </div>

</body>
</html>